go 1.25.0

use (
	../..
	../../data/gorm
	../../data/ent
	../../web/gin
	../../web/echo
	../../web/fiber
	../../web/kratos
	../../rpc/grpc
	../../cache/redis
	../../obs/otel
	../../biz/identity/oidc
	../../biz/notification/ses
)
